body {
    background-color: #1f0010;
    color: #ddbbff
}

#content {
    font-family: dejavu sans mono;
    text-align: center;
    padding-left: 25%;
    width: 50%;
}

.title {
    background-color: transparent;
    padding: 1rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: #ddbbff;
}

h2 {
    display: none;
}

p {
    font-size: 1.1rem;
}

a {
    color:#774466;
    text-decoration: none;
}

p.verse{
    color: #ddbbff;
    margin: 1rem 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.btn {
    background-color: transparent;
    border: none;
    outline:none;
    color: #ddbbff;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 1rem 1.5rem;
}

.btn:hover {
    opacity: 0.5;
}

.btn.active {
    font-size: 36px;
    font-weight: normal;
}

.outline-text-2 {
    margin-bottom: 6rem;
}

@media(max-width: 970px) {
    #content {
        padding: 15% !important;
        width: 70% !important;
    }
}

@media(max-width: 700px) {
    #content {
        padding: 10% !important;
        width: 80% !important;
    }
    p {
        font-size: 1rem !important;
    }
    .title {
        font-size: 1.3rem !important;
    }
}

@media(max-width: 560px) {
    #content {
        padding: 2% !important;
        width: 96% !important;
    }
    p {
        font-size: 1rem !important;
    }
    .title {
        font-size: 1.3rem !important;
    }
}


